.centro {
    text-align: center;    
}

.direita {
    text-align: right;    
}

.modal-xl {
  max-width: 1000px;
}

.table_a td, .table_a th {
    padding: 0.2rem 0rem;
    border: 0px;
}

.check-centro {
    margin: 0px;
}

.check-centro label {
    margin: 0px;
}

.check-centro span {
    margin: 0px;
}