<div class="row">
    <div class="offset-md-10 col-md-2 p-10">
        <i class="icofont icofont-filter f-30"
           aria-hidden="true"
           (click)="this.onOpenFilter()"></i>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-10">
        <div *ngFor="let filter of this.filtersSelected">
            <div *ngIf="!filter.isNon()" class="filter-item">
                <label>{{ filter.name }}: </label>
                <span *ngIf="filter.isBetween()">{{ filter.values[0] }} <b>até</b> {{ filter.values[1] }}</span>
                <span *ngIf="filter.isSelect()">{{ filter.getLabelOptionByValue() }}</span>
                <span *ngIf="filter.isLike()">{{ filter.values[0] }}</span>
                <i class="icofont icofont-close" (click)="this.onRemove(filter)"></i>
            </div>
        </div>
    </div>
</div>

<app-modal-basic #modalFilter [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{this.titleModal}}</h4>
        <button type="button" class="close basic-close" (click)="this.modalFilter.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="row m-t-5" *ngFor="let filter of this.filters">

            <div class="col-md-12" *ngIf="filter.isBetween()">
                <label>{{filter.name}}</label>
                <div class="row">
                    <div class="col-md-5">
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="filter.values[0]"/>
                    </div>
                    <div class="col-md-1 align-bottom">
                        <span>até</span>
                    </div>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="filter.values[1]"/>
                    </div>
                </div>
            </div>

            <div class="col-md-12" *ngIf="filter.isSelect()">
                <label>{{filter.name}}</label>
                <div class="row">
                    <div class="col-md-12">
                        <select name="select"
                                class="form-control form-control-primary"
                                [(ngModel)]="filter.values[0]">
                            <option *ngFor="let option of filter.options"
                                    [value]="option.value">{{option.label}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12" *ngIf="filter.isLike()">
                <label>{{filter.name}}</label>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text"
                               class="form-control" [dropSpecialCharacters]="filter.apagarCaracteresMascara" [mask]="filter.mascara"
                               [(ngModel)]="filter.values[0]"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="this.onFilter()">Filtrar
        </button>
    </div>
</app-modal-basic>
