.tag-green {
  color: green;
}

.tag-red {
  color: red;
}

.tag-orange {
  color: orange;
}

.align-c {
  align-self: center;
}

.b-r-2 {
  border-radius: 2px;
}

.btn-icon {
  border: 1px solid transparent;
}

.btn-adicionar{
  right: 25px;
  position: absolute;
  top: 1rem;
}
